<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs"> Lorem ipsum dolor<span highlight>  sit amet  </span>consectetur adipisicing elit. Libero distinctio itaque quis quo! Ipsa unde mollitia iste quae tempore dolorem animi, nemo dignissimos eius repellat praesentium quas, quos aspernatur! Quo!
    </p>
    <p class="text-sm">Numero de clientes !!! <app-counter [duration]="duration()" [message]="message()" /></p>
    <div>
        <app-wave-audio audioUrl="assets/audio.mp3"  />
    </div>

</div>